## Introduction to pandas

Library for computation with 
tabular 
data
 Mixed types of data allowed in a single 
table
 Columns and rows of data can be named
 Advanced data aggregation and 
statistical functions

In [0]:
import pandas as pd
import numpy as np


#basic import for pandas

# **Series¶**
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call:

In [6]:

#>>> s = pd.Series(data, index=index)

#Here, data can be many different things:

# a Python dict
# an ndarray
# a scalar value (like 5)

s = pd.Series([1,3,5,np.nan,6,8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

**Dataframe**
class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)




Two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). Arithmetic operations align on both row and column labels. Can be thought of as a dict-like container for Series objects. The primary pandas data structure.

Parameters:	
data : numpy ndarray (structured or homogeneous), dict, or DataFrame

Dict can contain Series, arrays, constants, or list-like objects

Changed in version 0.23.0: If data is a dict, argument order is maintained for Python 3.6 and later.

index : Index or array-like

Index to use for resulting frame. Will default to RangeIndex if no indexing information part of input data and no index provided

columns : Index or array-like

Column labels to use for resulting frame. Will default to RangeIndex (0, 1, 2, …, n) if no column labels are provided

dtype : dtype, default None

Data type to force. Only a single dtype is allowed. If None, infer

copy : boolean, default False

Copy data from inputs. Only affects DataFrame / 2d ndarray input

now lets create a dataframe using numpy array

In [7]:
dates = pd.date_range('19991123', periods=18)
dates

DatetimeIndex(['1999-11-23', '1999-11-24', '1999-11-25', '1999-11-26',
               '1999-11-27', '1999-11-28', '1999-11-29', '1999-11-30',
               '1999-12-01', '1999-12-02', '1999-12-03', '1999-12-04',
               '1999-12-05', '1999-12-06', '1999-12-07', '1999-12-08',
               '1999-12-09', '1999-12-10'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)),                columns=['a', 'b', 'c', 'd', 'e'])

#using numpy random

df2

   a  b  c  d  e
0  3  8  7  0  1
1  1  3  4  6  1
2  3  9  9  9  2
3  2  0  4  6  6
4  8  0  8  6  0

In [16]:
ash = pd.DataFrame(np.random.randn(6,4), columns=list('ABCD'))
print(ash)
print()
ash.dtypes

          A         B         C         D
0  1.410838 -0.968795 -0.542472  1.834626
1 -1.467384  0.006920 -2.051159  1.101096
2 -0.244505  1.597878 -0.751972  0.459436
3  0.257834  0.847664 -1.558660  1.331092
4 -0.610350 -0.029297  0.454771 -0.132607
5  0.876225 -1.838081 -0.155802 -1.690631

A    float64
B    float64
C    float64
D    float64
dtype: object

In [26]:
ash= pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('19991123'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4 ,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","ash","train"]),
   ....:                      'F' : 'foo' })
   ....: 

ash

     A          B    C  D      E    F
0  1.0 1999-11-23  1.0  3   test  foo
1  1.0 1999-11-23  1.0  3  train  foo
2  1.0 1999-11-23  1.0  3    ash  foo
3  1.0 1999-11-23  1.0  3  train  foo

<bound method _arith_method_FRAME.<locals>.f of      A          B    C  D      E    F
0  1.0 1999-11-23  1.0  3   test  foo
1  1.0 1999-11-23  1.0  3  train  foo
2  1.0 1999-11-23  1.0  3    ash  foo
3  1.0 1999-11-23  1.0  3  train  foo>